fastapi
uvicorn
python-dotenv
langchain
PyMuPDF
requests

openai
elasticsearch
pydantic
numpy
pandas
python-multipart
pdfplumber
pypdf
tiktoken
aiohttp
PyYAML
pytesseract
pdf2image
pypandoc 
pybase64
python-csv
psycopg2-binary
pymongo
networkx
openpyxl

nltk
torch
httpx

vercel

olefile
Document
python-docx
odfpy